<% layout('layouts/boilerplate') -%>

<div class="row ">
  <%- include('../partials/flash') %>

    <div class="col-lg-4 col-sm-12 mx-auto mb-4">
        <div class="card mx-auto" style="width: 20rem; ">
            <img src="<%= product1.img %>" class="card-img-top " alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= product1.name %></h5>
              <h5>$ <%= product1.price %></h5>
              <p class="card-text"><%= product1.desc %></p>
              <a href="#" class="btn btn-primary btn-sm">Buy Now</a>
              <form class="d-inline" action="/user/<%= product1._id %>/add" method="POST">
                <button  class="btn btn-success btn-sm">Add to Cart</button>
              </form>
            <% if (currentUser && currentUser.role==='seller'&&(product1.author&&product1.author.equals(currentUser._id)) ) { %>
             
              <a href="<%= product1._id%>/edit " class="btn btn-info btn-sm">Edit</a>
              <form class="d-inline" action="/products/<%= product1._id %>?_method=DELETE" method="post" >
                <button class=" btn btn-danger btn-sm">Delete</button>
                <% } %>
              
              <!-- <a href="#" class="btn btn-danger btn-sm">Delete</a>s -->
            </form>
            
        </form>
    </div>
</div>
</div>
<div class="col-lg-4 col-sm-12 mx-auto mt-5">

   
   
    <h2 class="review  display-6">Leave Your Review</h2>
    <form class="needs-validation" action="/products/<%= product1._id %>/reviews" method="post" novalidate>
      <!-- <div class="mb-3">
        <label for="rating">Rating</label>
      <input type="range" name="rating" id="Rating" class="form-control" min="0" max="5">
      </div> -->
      
<fieldset class="starability-basic">
  <!-- <legend>Rating:</legend> -->
  <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="rating" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="rating" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="rating" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="rating" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="rating" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>


      <div class="mb-3">
        <label for="comment">Comment</label>
      <textarea name="Comment" id="comment" cols="30" rows="4" class="form-control" required></textarea>
      </div>
      
        <button class="btn btn-success btn-sm mb-4">Submit</button>

     
    </form>
    <% for( let review of product1.reviews ) { %>
       <div class="card">
       
     
      <div class="card-body "> 
        <h5   class=" starability-result" data-rating="<%= review.rating %>">
          Rated: <%= review.rating %> stars
        </h5><p class="card-text"> 
        <%= review.Comment %>
      </p>
        
        <a href="#" class="btn btn-primary btn-sm d-inline">Delete</a>
      </div>
    </div>
    
    <% } %>

   
</div>
<!-- <h1>End of page</h1> -->
</div>